---
layout: default
---

<div id="home">
  <h1>Welcome Developers!</h1>
  <p>Lorem ipsum dolor</p>

  <h4>iOS SDK Resources</h4>
  <ul class="posts">
    {% for post in site.ios_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h4>Android SDK Resources</h4>
  <ul class="posts">
    {% for post in site.android_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h4>Javascript SDK Resources</h4>
  <ul class="posts">
    {% for post in site.js_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
