---
layout: default
---

<div id="home">
  <h1>Welcome Developers!</h1>
  <p>This portal is the central resource for all Stellar Loyalty Development. You will find here documentation and guides that will help developers build stunning loyalty applications built on top of the Stellar Loyalty infrastructure.</p>

  <p>Stellar Loyalty provides tools to get developers build applications rapidly. We provide platform-specific SDKs that will seamlessly connect to our web services.</p>

  <div>
    <p style="text-alignment:center;">
      <i class="fa fa-globe hero-icon"></i>
      <i class="fa fa-mobile hero-icon"></i>
      <i class="fa fa-desktop hero-icon"></i>
      <i class="fa fa-laptop hero-icon"></i>
    </p>
  </div>

  <h4><i class="fa fa-apple"></i>&nbsp; iOS SDK Resources</h4>
  <ul class="posts">
    {% for post in site.ios_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h4><i class="fa fa-android"></i>&nbsp; Android SDK Resources</h4>
  <ul class="posts">
    {% for post in site.android_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h4><i class="fa fa-code"></i> Javascript SDK Resources</h4>
  <ul class="posts">
    {% for post in site.js_sdk %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <hr/>
  <h4><i class="fa fa-newspaper-o"></i> News</h4>
  <ul class="posts">
    {% for post in paginator.posts %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} - {{ post.date | date_to_string }}</a></li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
</div>
